{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ text_page }}</h1>

{% if is_admin %}

    <!-- Форма окна и кнопка удалить. Отправляет запрос на текущую страницу -->
    <form id="deleteForm" action="" method="post">
        {% csrf_token %}
        <input type="text" name="doc_ids" required placeholder="Введите ID документов, разделенных запятой" class="id-input">
        <button type="submit">Удалить</button>
    </form>

    <!-- Цвета ответов -->
    <div id="error-message" style="color: #9c0c3f; display: none;"></div>
    <div id="success-message" style="color: green; display: none;"></div>

    <script>

        document.getElementById("deleteForm").onsubmit = async function(event) {
            event.preventDefault();  // Не отправляем форму обычным способом

            // Извлечение данных из формы
            let formData = new FormData(this);
            let docIdsStr = formData.get('doc_ids').trim();

            // Разделяем строки на ID и убираем лишние пробелы
            let docIds = docIdsStr.split(',').map(id => id.trim()).filter(id => id !== "");

            // Проверка на наличие недопустимых значений
            let invalidIds = docIds.filter(id => isNaN(id) || id === "" || /[^0-9]/.test(id));

            if (invalidIds.length > 0) {
                document.getElementById("error-message").textContent = "Ошибка: ID должен быть числовым и разделяться запятой.";
                document.getElementById("error-message").style.display = "block";
                return; // Прерываем выполнение, если есть ошибочные ID
            }

            // Создаем строку для отправки всех ID в одном запросе
            let idsToSend = docIds.join(',');

            // Формирование и отправка запроса
            // запрос уходит на текущую страницу по параметру this.action
            let response = await fetch(this.action, {
                method: "POST",
                headers: {
                    "X-CSRFToken": formData.get('csrfmiddlewaretoken')
                },
                body: new URLSearchParams({
                    'doc_ids': idsToSend
                })
            });

            let result = await response.json();

            if (response.ok) {
                document.getElementById("success-message").textContent = 'Документы успешно удалены!';
                document.getElementById("success-message").style.display = "block";
            } else {
                document.getElementById("error-message").textContent = result.detail;
                document.getElementById("error-message").style.display = "block";
            }
        };
    </script>
{% endif %}
{% endblock %}