{% extends 'base.html' %}

{% load static %}

{% block title %}Вход{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-container">
        <h1>Вход</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        <p class="login-link">Забыли пароль? <a href="{% url 'password_reset' %}">Сбросить пароль</a></p>
    </div>
</div>
{% endblock %}